body{
    font-family: 'Playfair Display', serif;
    text-align: center;
    background: black;
    color: white;
}
header{
    border-style:solid;
    border-color: gold;
    border-width:12px;
    font-weight: bold;
    font-size: 18px;
    }
#container{
    border-style:solid;
    border-color: gold;
    border-width:1px;
    color:gold;
    background-color: black;
    margin:1% 10% 1% 10%;
    padding: 20px;
    position:static;
}
h2{
    text-align: left;
    margin:10px;
    /* padding:5px; */
}
#titulo{
    color:white;
    position:sticky;
    font-size: 50px;
}
#key{
    font-size: 40px;
}
button{
    background: none;
    border:none;
    cursor: pointer;
    outline:inherit;
    color:white;
    font-family: inherit;
    border-style:solid;
    border-color: gold;
    border-width:0.5px;
    transition-duration: 0.7s;
}
button:hover{
    transform:scale(1.2);
}
#random{
    font-size: 20px;
}
.texto-seleccion-temas{
display: flex;
justify-content: flex-start;}
/* Hamburguesa */
HTML SCSSResult Skip Results Iframe
EDIT ON


* {
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: black;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 100%;
}

.menu {
  visibility: hidden;
  display:flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  bottom: 0;
}

.menu > li {
  margin: 0 1rem;

}

.menu-button-container {
  position: absolute;
  display: flex;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/* @media (max-width: 700px)
 { */
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

@media screen and (max-width: 600px) {
    
    header{
      border-width:8px;
      font-weight: bold;
      font-size: 14px;
    }
  
    li{
      font-size: 14px;
 }
   .name-and-key{
    font-size: 18px;
   }


    #titulo{
        font-size: 25px;
}
#key{
    font-size: 25px;
}
}